@model IEnumerable<Feedback>
@{
    var id = 0;
    if(Session["lastFeedback"] != null)
    {
        id = (int)Session["lastFeedback"];
    }
}

@foreach (var o in Model)
{
    <li class="awe-li feedback" data-val="@o.Id">
        <div>
            @Html.Raw(o.Comments)
        </div>
        <div class="fr">
            @{ if(id == o.Id)
               {
        <button class="awe-btn" onclick="awe.open('editFeedback', {params:{ id: @o.Id }})">Edit</button> 
               }
            }
        </div>
    </li>
} 