<div style="margin: 2em;">
    <br />
    <div class='fr'>
        <h3>
            prodinner, where pros eat</h3>
    </div>
    <div class='fl'>
        <a href="http://youtu.be/kYll7uARNdk?t=8m35s"><img src="@Url.Content("~/Content/pros.jpg")" /></a>
    </div>    
    <div class="fl" style="margin-left: 3em; margin-right:1em;">
        <h2>
            stuff used:
        </h2>
        <ul>
            <li>.net 4.5, ASP.net MVC 5, EF 6, Owin</li>
            <li><a href='http://demo.aspnetawesome.com'>ASP.net MVC Awesome jQuery Ajax Helpers</a> (trial version)</li>
            <li><a href="https://github.com/omuleanu/ValueInjecter">ValueInjecter</a> for mapping</li>
            <li><a href="http://jquery.com">jQuery</a> <a href="http://jqueryUI.com">jQueryUI</a></li>            
            <li><a href="https://github.com/omuleanu/imager">Imager</a>, <a href='https://blueimp.github.io/jQuery-File-Upload/'>jQuery File Upload</a> and <a href="http://deepliquid.com/content/Jcrop.html">Jcrop</a> for uploading, cropping and resizing images</li>            
            <li><a href="http://encrypto.codeplex.com">Encrypto</a> for hashing and salting passwords</li>
            <li><a href="http://www.castleproject.org/container/">Castle Windsor</a> IoC Container</li>
            <li><a href="http://code.google.com/p/elmah/">ELMAH</a> for logging</li>
            <li><a href="http://nunit.org/">NUnit</a> and <a href="http://code.google.com/p/fakeiteasy/">FakeItEasy</a> for testing</li>            
            <li><a href="http://www.tinymce.com">TinyMCE</a> as wysiwyg editor</li>
            <li><a href="http://htmlagilitypack.codeplex.com">Html Agility Pack</a> for sanitizing html</li>
        </ul>
        <br/>
        download here: <a href="http://prodinner.codeplex.com">prodinner.codeplex.com</a>
<br/>
        <br/>
 
        <div class="awe-il">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://prodinner.aspnetawesome.com" data-via="omuleanu" data-size="large" data-count="none">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </div>
        <!-- Place this tag where you want the +1 button to render -->
        <div class="awe-il">
            <div class="g-plusone" data-size="medium" data-annotation="none" data-href="http://demo.aspnetawesome.com">
            </div>
        </div>
            <!-- Place this render call where appropriate -->
        <script type="text/javascript">
            (function () {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
        </script>
        <div class="awe-il" style="margin-bottom: 7px;">
            <div class="fb-share-button" data-href="http://prodinner.aspnetawesome.com/" data-layout="button"></div>
        </div>
        <span id="fb-root"></span>
        <script>
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
    </div>
</div>
